section.big-cloud

    .container

        .big-cloud__laptop

            img(src="../img/cloud-laptop.png")

        .big-cloud__text

            h1.big-cloud__title Co je Big Cloud?

            p.big-cloud__description
            |  Služba Big Cloud je Váš osobní manažer cloudových úložišť. Nabízíme kompletní správu virtuálních strojů fungujících na vybraných operačních platformách Windows nebo Linux. V současné době tuto velmi populární službu využívají vedle profesionálů a firem stále častěji i běžní uživatelé. Výhodou cloudového úložiště je hlavně jeho flexibilita (navýšení kapacity stroje během okamžiku) a univerzální přístup k Vašim datům odkudkoliv ze sítě internet. Usnadňuje nejen rychlé zálohování firemních nebo osobních dat, ale především také jejich jednoduchou výměnu v rámci jedné skupiny virtuálních strojů.
            br
            |  Přes webové administrační prostředí služby Big Cloud můžete nejen vytvářet nové virtuální stroje, ale také například přiřazovat nové veřejné a vnitřní IP adresy. Pro připojení se přímo do prostředí virtuálního stroje můžete využít jednoduchý VNC přístup (přes webové rozhraní). Do budoucna připravujeme další služby jako je vlastní OwnCloud úložiště (s možností synchronizace dat) nebo možnost vytváření databázových úložišť typu MySQL nebo PostgreSQL. Služba Big Cloud využívá přednabitého kreditu, který je čerpán na základě opravdu využívaných a aktivních služeb. Díky kreditu nejste vázáni žádnou smlouvou a máte také kompletní přehled o využití Vašich finančních prostředků.




