header.header

    .container



            .header__logo

                img(src="img/logo.png")

            .header__menu

                ul.header__nav

                    li

                        a(href="#") Profile spolecnosti

                    li

                        a(href="#") Big Cloud

                    li

                        a(href="#") IT reseni

                    li

                        a(href="#") Internet

                    li

                        a(href="#") Videokonference

                    li

                        a(href="#") Audiokonference

                    li

                        a(href="#") Kontakty