section#profile.profile

    .container

        h3.profile__title Profil společnosti
        p.profile__subtitle Společnost S.I.C. spol. s r. o. disponuje početnými referencemi v rozsahu od malých zakázek (v řádu několika desítek tisíc Kč) až po zakázky velké (v řádu milionů Kč). Protože chráníme důvěrné informace našich zákazníků, reference poskytujeme až v určitém stupni komunikace s novým klientem.

        .profile__wrapper
            a(href='#').profile__wrapper--element.first.js-active-element
                p Předmětem činnosti společnosti S.I.C. je outsourcing IT oddělení, operativní pronájem výpočetní techniky, poskytování zboží a služeb v oblasti počítačových sítí, internetu/intranetu a návrhem uceleného řešení včetně tvorby aplikačního software a webových prezentací, velkoobchodní i maloobchodní prodej PC komponentů, počítačů, notebooků, serverů a další elektroniky. Mezi další činnosti společnosti patří např. poskytování CLOUDových služeb (www.bigcloud.cz) nebo prodej a instalace videokonferenčních řešení (zpravidla výrobce POLYCOM, ale také Lifesize, Aver, Cisco a dalších).

            a(href='#').profile__wrapper--element.fifth
                p K velkému rozvoji dochází také v oblasti implementace softwarových aplikací, které jsou upravovány na míru a komerčně prodávány. Řešení BIGCLOUD nabízí kromě klasických IaaS cloudových služeb také samostatné softwarové aplikace (tedy ve vrstvě SaaS) jako např. SIC INTRANET: portálové řešení všem organizacím, které chtějí sdílet informace - kontakty, úkoly atd., používat monitorovaný oběh dokumentů (workflow) nebo také chtějí svůj web pozměňovat jednoduše a rychle samy nebo které např. chtějí na svém webu umístit část informací ze svého informačního systému anebo jej chtějí propojit s jinými zdroji informací zvenčí. Jakmile daná organizace definuje přístupová práva k jednotlivým sekcím aplikace, každý uživatel může (dokonce bez znalostí internetových technologií) takto udržovat část webu aktuální bez nutnosti neustálé komunikace s webmasterem. Toto portálové řešení může být snadno propojeno s dalším zajímavým produktem, SMS reportingem. SMS reporting umožňuje vytvářet databázi zpravidla obchodních informací na základě sběru těchto informací v terénu a zaslání daného souboru dat pomocí SMS. Výstupy z databáze zasílá SMS reporting pomocí e-mailu anebo se může oprávněný uživatel přihlásit na chráněnou webovou stránku a celou databázi si zkopírovat.

            a(href='#').profile__wrapper--element.third
                p Kromě serverů a počítačů, prodávaných pod vlastní značkou (čímž je dosahována úspora prostředků klienta na úrovni min. 30%), společnost prodává, instaluje, provádí servis a technickou podporu zejména značek ACER, APC, Apple, ATI, BENQ, CANON, CISCO, Dell, Ebeam, EPSON, FUJITSU-SIEMENS, Hewlett Packard, HTC, IBM, Lexmark, LG, Logitech, Matrox, Microcom, MICROSTAR, Minolta, Mitsumi, Nokia, Polycom, OKI, PHILIPS, Quantum, RICOH, Samsung, Seagate, Soltek, SONY, UMAX, U.S. Robotics, Verbatim, Viewsonic, Well, Xerox , Yamaha a mnoha dalších

            a(href='#').profile__wrapper--element.forth
                p Velkým rozvojem prochází v současnosti PROGRAM SERVISNÍCH SMLUV, který v některých případech přechází až v nějvyšší stupeň spolupráce mezi S.I.C. a klientem: OUTSOURCING IT ODDĚLENÍ. Pro většinu společností je z důvodů trasparentnosti výhodnější se pro všechny standardizovatelné požadavky na IT obracet na outsourcingovou IT společnost než na vlastní IT oddělení. Bližší podrobnosti rádi sdělíme při osobním jednání.

            a(href='#').profile__wrapper--element.second
                p Již od samého počátku činnosti se společnost vyznačuje objektivností a nezávislostí na dodavatelském portfoliu. Poskytovaná řešení jsou stavěna dle přesně definovaných potřeb klientů, nikoliv podle příslušnosti k jednotlivým táborům silných výrobců. Proto jsou vždy kromě klasických řešení stavěných na technologiích firem ADOBE, CA, Corel, Microsoft, Network Associates, NOVELL, Symantec, TINY Sofware atd. nabízena také výkonná a elegantní řešení na bázi LINUX, zpravidla distribuce Gentoo doplněná produkty dalších výrobců poskytujících ekvivalentní řešení. Tato skutečnost umožnila i rozvoj poskytování softwarových i hardwarových Auditů, důležitých jako podkladový materiál v rozhodovacích procesech velkých společností.