section.top-baner

        .top-baner__box

            h1.top-baner__title S.I.C.

            h2.top-baner__middle-title spool. s.r.o.

            p.top-baner__description Profesionalny videokonferencni a audiokonferencni systemy