doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../top-baner
        include ../profile
        include ../cloud
        include ../footer
        include ../html_close